# If set to true, will check for updates
Check-For-Updates: false

# List of the enabled categories.
Categories-Enabled:
  Gadgets: true
  Particle-Effects: true
  Mounts: true
  Pets: true
  Morphs: true
  Hats: true
  Suits: true
  Emotes: true

# Other settings for categories:
# - The Item in Main Menu.
# - Do you want a BackToMainMenu Arrow in it?
Categories:
  Gadgets:
    Main-Menu-Item: '409:0'
    Go-Back-Arrow: true
    # You wanna show the cooldown of current gadget in actionbar?
    Cooldown-In-ActionBar: true
  Particle-Effects:
    Main-Menu-Item: '399:0'
    Go-Back-Arrow: true
  Mounts:
    Main-Menu-Item: '329:0'
    Go-Back-Arrow: true
  Pets:
    Main-Menu-Item: '352:0'
    Go-Back-Arrow: true
  Morphs:
    Main-Menu-Item: '334:0'
    Go-Back-Arrow: true
  Hats:
    Main-Menu-Item: '314:0'
    Go-Back-Arrow: true
  Suits:
    Main-Menu-Item: '299:0'
    Go-Back-Arrow: true
  Emotes:
    Go-Back-Arrow: true
  Clear-Cosmetic-Item: '152:0'

# The economy that should be used. Supports 'Vault' or 'PlayerPoints'
Economy: 'Vault'

# Treasure Chests Settings.
# /uc reload will not be enough to toggle them!
#
# NOTE: Money will be given
#       to player even if disabled in case
#       there is nothing to give!
#
#
# About Treasure Chests designs:
# For a list of effect: http://pastebin.com/CVKkufck
# For the chest-types: NORMAL or ENDER
# Material syntax: 'id:data'
# You CAN make more designs just copy one, paste it and modify.
# Not twice same name!
#
# Some infos:
# center-block: The block on the center.
# around-center: Blocks around the center
# third-BLOCKS: BLOCKS "around around" the center.
# below-chests: Block below the chests.
# barriers: the barrier.
# chest-type: The chest type (NORMAL or ENDER)
# effect: The effect (complete list: http://pastebin.com/CVKkufck)
#
# For permission command:
# Change it to correspond to your Permissions plugin!
# Default one is Pex's.
#
TreasureChests:
  Enabled: false
  Key-Price: 1000
  Loots:
    Money:
      Enabled: true
      Max: 100
      Chance: 10
      Message:
        enabled: false
        message: '%prefix% &6&l%name% found %money%$'
    Gadgets-Ammo:
      Enabled: true
      Min: 20
      Max: 100
      Chance: 60
      Message:
        enabled: false
        message: '%prefix% &6&l%name% found %ammo% %gadget% ammo'
    Gadgets:
      Enabled: true
      Chance: 20
      Message:
        enabled: false
        message: '%prefix% &6&l%name% found gadget %gadget%'
    Mounts:
      Enabled: true
      Chance: 10
      Message:
        enabled: false
        message: '%prefix% &6&l%name% found rare %mount%'
    Pets:
      Enabled: true
      Chance: 10
      Message:
        enabled: false
        message: '%prefix% &6&l%name% found rare %pet%'
    Morphs:
      Enabled: true
      Chance: 4
      Message:
        enabled: true
        message: '%prefix% &6&l%name% found legendary %morph%'
    Effects:
      Enabled: true
      Chance: 4
      Message:
        enabled: true
        message: '%prefix% &6&l%name% found legendary %effect%'
    Hats:
      Enabled: true
      Chance: 10
      Message:
        enabled: false
        message: '%prefix% &6&l%name% found rare %hat%'
    Suits:
      Enabled: true
      Chance: 5
      Message:
        enabled: false
        message: '%prefix% &6&l%name% found rare %suit%'
    Emotes:
      Enabled: true
      Chance: 5
      Message:
        enabled: false
        message: '%prefix% &6&l%name% found rare %emote%'
    Commands:
      shoutout:
        Name: '&d&lShoutout'
        Material: 'NETHER_STAR'
        Enabled: false
        Chance: 100
        Message:
          enabled: false
          message: '%prefix% &6&l%name% found a rare shoutout!'
        Cancel-If-Permission: 'no'
        Commands:
          - 'say %name% is awesome!'
      flower:
        Name: '&e&lFlower'
        Material: 'YELLOW_FLOWER'
        Enabled: false
        Chance: 100
        Message:
          enabled: true
          message: '%prefix% &6&l%name% found a flower!'
        Cancel-If-Permission: 'example.yellowflower'
        Commands:
          - 'give %name% yellow_flower 1'
          - 'pex user %name% add example.yellowflower'
  Designs:
    Classic:
      center-block: '169:0'
      around-center: '5:0'
      third-blocks: '5:1'
      below-chests: '17:0'
      barriers: '85:0'
      chest-type: NORMAL
      effect: FLAME
    Modern:
      center-block: '169:0'
      around-center: '159:11'
      third-blocks: '155:0'
      below-chests: '159:11'
      barriers: '160:3'
      chest-type: ENDER
      effect: REDSTONE
    Nether:
      center-block: '89:0'
      around-center: '88:0'
      third-blocks: '87:0'
      below-chests: '112:0'
      barriers: '113:0'
      chest-type: NORMAL
      effect: SMOKE_NORMAL
  Permission-Add-Command: pex user %name% add %permission%

# This option will fill the blank slots of inventories
# with a custom item!
Fill-Blank-Slots-With-Item:
  Enabled: false
  Item: '160:15'

# Toggle this to allow players to rename pets.
#
# Permission-Required:
# If true, the permission:
# ultracosmetics.pets.rename
# will be required to rename a pet.
#
# Requires Money:
# If true, money will be required
# to rename a pet.
Pets-Rename:
  Enabled: true
  Permission-Required: true
  Requires-Money:
    Enabled: false
    Price: 100

# Do pets drop items? (not pickable up by players)
Pets-Drop-Items: true

# Are pets babies?
Pets-Are-Babies: true

# Do you want the mounts
# that normally make block trails
# to do so?
Mounts-Block-Trails: true

# This option allows to use ammo
# for gadgets, for limited uses.
# Ammo can be given with /uc give ammo
# or bought from menu when activating gadget.
#
# For the system: 'file' or 'mysql'
#
# If you set mysql, please fill the MySQL infos.
Ammo-System-For-Gadgets:
  Enabled: false
  System: file
  MySQL:
    hostname: localhost
    username: root
    password: password
    port: '3306'
    database: UltraCosmetics
# The menu item settings.
#
# List for type: https://hub.spigotmc.org/javadocs/bukkit/org/bukkit/Material.html
Menu-Item:
  Give-On-Join: true
  Give-On-Respawn: true
  Slot: 3
  Type: ENDER_CHEST
  Data: 0
  Displayname: '&6&lCosmetics'

# Settings related to permissions.
#
# List for "Type" https://hub.spigotmc.org/javadocs/bukkit/org/bukkit/Material.html
No-Permission:
  Show-In-Lore: true
  Lore-Message-Yes: '&o&7Permission: &a&lYes!'
  Lore-Message-No: '&o&7Permission: &4&lNo!'
  Dont-Show-Item: false
  Custom-Item:
    enabled: false
    Type: INK_SACK
    Data: 8
    Name: '&c&l{cosmetic-name}'
    Lore:
      - ''
      - '&c&lYou do not have permission for this!'
      - ''

# If set to true, in messages the cosmetics' names
# won't be colored.
# Example:
# With true: &a&lYou activated &9&lPaintball Gun!
# With false: &a&lYou activated Paintball Gun!
Chat-Cosmetic-PlaceHolder-Color: true

# What is the slot for gadgets?
Gadget-Slot: 4

# If toggled to true,
# players will be able to remove
# their current gadget by pressing
# their drop key.
Remove-Gadget-With-Drop: false