# If set to true, will check for updates
Check-For-Updates: true

# List of the enabled categories.
Categories-Enabled:
  Gadgets: true
  Particle-Effects: true
  Mounts: true
  Pets: true
  Morphs: true
  Hats: true
  Suits: true
  Emotes: true

# Other settings for categories:
# - The Item in Main Menu.
# - Do you want a BackToMainMenu Arrow in it?
Categories:
  Gadgets:
    Main-Menu-Item: PRISMARINE_SHARD
    Go-Back-Arrow: true
    # You wanna show the cooldown of current gadget in actionbar?
    Cooldown-In-ActionBar: true
  Particle-Effects:
    Main-Menu-Item: NETHER_STAR
    Go-Back-Arrow: true
  Mounts:
    Main-Menu-Item: SADDLE
    Go-Back-Arrow: true
  Pets:
    Main-Menu-Item: BONE
    Go-Back-Arrow: true
  Morphs:
    Main-Menu-Item: LEATHER
    Go-Back-Arrow: true
  Hats:
    Main-Menu-Item: GOLDEN_HELMET
    Go-Back-Arrow: true
  Suits:
    Main-Menu-Item: LEATHER_CHESTPLATE
    Go-Back-Arrow: true
  Emotes:
    Go-Back-Arrow: true
  Clear-Cosmetic-Item: REDSTONE_BLOCK

# The economy that should be used. Supports 'Vault' or 'PlayerPoints'
Economy: 'Vault'

# Treasure Chests Settings.
# /uc reload will not be enough to toggle them!
#
# NOTE: Money will be given
#       to player even if disabled in case
#       there is nothing to give!
#
#
# About Treasure Chests designs:
# For a list of effect: http://pastebin.com/CVKkufck
# For the chest-types: NORMAL or ENDER
# Material syntax: The "item ID" from https://hub.spigotmc.org/javadocs/spigot/org/bukkit/Material.html
# You CAN make more designs just copy one, paste it and modify.
# Not twice same name!
#
# Some infos:
# center-block: The block on the center.
# around-center: Blocks around the center
# third-BLOCKS: BLOCKS "around around" the center.
# below-chests: Block below the chests.
# barriers: the barrier.
# chest-type: The chest type (NORMAL or ENDER)
# effect: The effect (complete list: http://pastebin.com/CVKkufck)
#
# For permission command:
# Change it to correspond to your Permissions plugin!
# Default one is LuckPerms.
#
TreasureChests:
  Enabled: true
  Key-Price: 1000
  # How many treasure chests should be opened per key? Min 1, max 4
  Count: 4
  Location:
    # Whether players should be moved to a certain
    # location before opening a treasure chest.
    # Does not override /uc treasure.
    Enabled: false
    # The location players should be moved to.
    # Block coordinates only, like 104, not 103.63
    X: 0
    Y: 63
    Z: 0
    World: world
  Loots:
    Money:
      Enabled: true
      Min: 15
      Max: 100
      Chance: 10
      Message:
        enabled: false
        message: '%prefix% &6&l%name% found %money%$'
    Gadgets-Ammo:
      Enabled: true
      Min: 20
      Max: 100
      Chance: 60
      Message:
        enabled: false
        message: '%prefix% &6&l%name% found %ammo% %gadget% ammo'
    Gadgets:
      Enabled: true
      Chance: 20
      Message:
        enabled: false
        message: '%prefix% &6&l%name% found gadget %gadget%'
    Mounts:
      Enabled: true
      Chance: 10
      Message:
        enabled: false
        message: '%prefix% &6&l%name% found rare %mount%'
    Pets:
      Enabled: true
      Chance: 10
      Message:
        enabled: false
        message: '%prefix% &6&l%name% found rare %pet%'
    Morphs:
      Enabled: true
      Chance: 4
      Message:
        enabled: true
        message: '%prefix% &6&l%name% found legendary %morph%'
    Effects:
      Enabled: true
      Chance: 4
      Message:
        enabled: true
        message: '%prefix% &6&l%name% found legendary %effect%'
    Hats:
      Enabled: true
      Chance: 10
      Message:
        enabled: false
        message: '%prefix% &6&l%name% found rare %hat%'
    Suits:
      Enabled: true
      Chance: 5
      Message:
        enabled: false
        message: '%prefix% &6&l%name% found rare %suit%'
    Emotes:
      Enabled: true
      Chance: 5
      Message:
        enabled: false
        message: '%prefix% &6&l%name% found rare %emote%'
    Commands:
      shoutout:
        Name: '&d&lShoutout'
        Material: NETHER_STAR
        Enabled: false
        Chance: 100
        Message:
          enabled: false
          message: '%prefix% &6&l%name% found a rare shoutout!'
        Cancel-If-Permission: 'no'
        Commands:
          - 'say %name% is awesome!'
      flower:
        Name: '&e&lFlower'
        Material: YELLOW_FLOWER
        Enabled: false
        Chance: 100
        Message:
          enabled: false
          message: '%prefix% &6&l%name% found a flower!'
        Cancel-If-Permission: 'example.yellowflower'
        Commands:
          - 'give %name% yellow_flower 1'
          - 'lp user %name% permission set example.yellowflower true'
  Designs:
    Classic:
      center-block: SEA_LANTERN
      around-center: OAK_PLANKS
      third-blocks: SPRUCE_PLANKS
      below-chests: OAK_LOG
      barriers: OAK_FENCE
      chest-type: NORMAL
      effect: FLAME
    Modern:
      center-block: SEA_LANTERN
      around-center: BLUE_TERRACOTTA
      third-blocks: WHITE_TERRACOTTA
      below-chests: BLUE_TERRACOTTA
      barriers: LIGHT_BLUE_STAINED_GLASS_PANE
      chest-type: ENDER
      effect: REDSTONE
    Nether:
      center-block: GLOWSTONE
      around-center: SOUL_SAND
      third-blocks: NETHERRACK
      below-chests: NETHER_BRICKS
      barriers: NETHER_BRICK_FENCE
      chest-type: NORMAL
      effect: SMOKE_NORMAL
  Permission-Add-Command: lp user %name% permission set %permission% true

# This option will fill the blank slots of inventories
# with a custom item!
Fill-Blank-Slots-With-Item:
  Enabled: false
  Item: LIGHT_GRAY_STAINED_GLASS_PANE

# Toggle this to allow players to rename pets.
#
# Permission-Required:
# If true, the permission:
# ultracosmetics.pets.rename
# will be required to rename a pet.
#
# Requires Money:
# If true, money will be required
# to rename a pet.
Pets-Rename:
  Enabled: false
  Permission-Required: false
  Requires-Money:
    Enabled: true
    Price: 100

# Do pets drop items? (not pickable up by players)
Pets-Drop-Items: true

# Are pets babies?
Pets-Are-Babies: true

# Are pets prevented from making sounds?
Pets-Are-Silent: false

# Do you want the mounts
# that normally make block trails
# to do so?
Mounts-Block-Trails: true

# This option allows to use ammo
# for gadgets, for limited uses.
# Ammo can be given with /uc give ammo
# or bought from menu when activating gadget.
#
# For the system: 'file' or 'mysql'
#
# If you set mysql, please fill the MySQL infos.
Ammo-System-For-Gadgets:
  Enabled: false
  System: file
  MySQL:
    hostname: localhost
    username: root
    password: password
    port: '3306'
    database: UltraCosmetics
# The menu item settings.
#
# List for type: https://hub.spigotmc.org/javadocs/bukkit/org/bukkit/Material.html
Menu-Item:
  Give-On-Join: true
  Give-On-Respawn: true
  Slot: 3
  Type: ENDER_CHEST
  Displayname: '&6&lCosmetics'
  # Custom model data for the menu item. Only supported on MC >= 1.14.4 (when it was added)
  Custom-Model-Data: 0
  # Whether to open cosmetics menu when the menu item is clicked from the player's inventory
  Open-Menu-On-Inventory-Click: false

# Settings related to permissions.
#
# List for type: https://hub.spigotmc.org/javadocs/bukkit/org/bukkit/Material.html
No-Permission:
  Show-In-Lore: true
  Lore-Message-Yes: '&o&7Permission: &a&lYes!'
  Lore-Message-No: '&o&7Permission: &4&lNo!'
  Dont-Show-Item: false
  Allow-Purchase: false
  Custom-Item:
    enabled: false
    Type: INK_SACK
    Data: 8
    Name: '&c&l{cosmetic-name}'
    Lore:
      - ''
      - '&c&lYou do not have permission for this!'
      - ''

# If set to true, in messages the cosmetics' names
# won't be colored.
# Example:
# With true: &a&lYou activated &9&lPaintball Gun!
# With false: &a&lYou activated Paintball Gun!
Chat-Cosmetic-PlaceHolder-Color: true

# What is the slot for gadgets?
Gadget-Slot: 4

# If toggled to true,
# players will be able to remove
# their current gadget by pressing
# their drop key.
Remove-Gadget-With-Drop: false

# [BETA]
# Allows for players to auto-equip on join cosmetics they had before disconnecting.
# At the moment, only works while the server is up. Upon shutdown, the cosmetics saved states
# are reset! Soon it will support shutdowns.
Auto-Equip-Cosmetics:
  enabled: false

# Whether WorldGuard should be hooked when loading UC
# Disable this if UC has trouble loading WorldGuard
WorldGuard-Integration: true
